h1 {
    color: moccasin;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: normal;
    font-weight: bold;
}
li{
    color: lightgoldenrodyellow;
}
a {
    color: peachpuff;
}
body {
    background-image: url("bg.png");
    background-size: cover;

}
.myDiv{
    width: 800px;
    margin: 0 auto;
}